[submodule "src/swc_navigation/costmap_converter"]
	path = src/swc_navigation/costmap_converter
	url = https://github.com/LihanChen2004/costmap_converter.git
[submodule "src/swc_navigation/teb_local_planner"]
	path = src/swc_navigation/teb_local_planner
	url = https://github.com/rst-tu-dortmund/teb_local_planner.git
	branch = ros2-master
